 /* contanto*/

 .form-label{
    color: #fcc300;
}

.form-check .form-check-input {
     float: none;
}
.form-check {    
    text-align: center;
    color: whitesmoke;
}
.btn-primary {
    color: #000;
    font-weight: 800;
    background-color: #ffc300;
    border-color: #ffc300;
    
}

.btn-primary:hover {
    color: #ffc300;
    font-weight: 800;
    background-color: #000;
    border-color: #ffc300;
    
       
}



.botones{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}
